<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168320255818-1uag6feo0kg151qkg0l6gunq6itd0vud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168320255818-1uag6feo0kg151qkg0l6gunq6itd0vud</string>
	<key>API_KEY</key>
	<string>AIzaSyBBbvQMP5xk9KEkjcbjzidEfEOpvZjeuPA</string>
	<key>GCM_SENDER_ID</key>
	<string>168320255818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.matrimonialApp</string>
	<key>PROJECT_ID</key>
	<string>matrimonial-app-7aa7a</string>
	<key>STORAGE_BUCKET</key>
	<string>matrimonial-app-7aa7a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168320255818:ios:486e3970a8da6e3b4d23b3</string>
</dict>
</plist>